<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.buscompany.dao.ClientDao" >

    <insert id="insertClient" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO client (id_user, email, phone_number) VALUES (#{client.id}, #{client.email}, #{client.phoneNumber})
    </insert>

    <update id="updateUserType">
        UPDATE user SET user_type = 'CLIENT' WHERE id = #{client.id}
    </update>

    <select id="getClientByLogin" resultType="Client">
        SELECT id, login, password, user_type as userType, firstname, lastname, patronymic, email, phone_number
        as phoneNumber FROM user JOIN client ON user.id = client.id_user WHERE login = #{login}
    </select>

    <select id="getClientBySession" resultType="Client">
        SELECT id, login, password, user_type as userType, firstname, lastname, patronymic, email, phone_number
        as phoneNumber FROM user JOIN client ON user.id = client.id_user JOIN session ON session.id_user = user.id WHERE uuid = #{uuid}
    </select>

    <update id="updateClient">
        UPDATE client SET email = #{client.email}, phone_number = #{client.phoneNumber} WHERE id_user = #{client.id}
    </update>

    <insert id="insertOrder" useGeneratedKeys="true" keyProperty="order.id">
        INSERT INTO `order` (id_client, id_assigned_trip) VALUES (#{client.id}, #{order.assignedTrip.id})
    </insert>

    <select id="getFreePlacesList" resultType="Integer">
        SELECT place_number FROM place WHERE id_assigned_trip = #{assignedTrip.id} AND id_passenger IS NULL
    </select>

    <update id="updateFreePlacesCount">
        UPDATE assigned_trip SET free_places = free_places - #{passengerCount} WHERE id = #{assignedTrip.id} AND
        free_places >= #{passengerCount}
    </update>

    <insert id="insertPassenger" useGeneratedKeys="true" keyProperty="passenger.id">
        INSERT INTO passenger (id_order, firstname, lastname, passport) VALUES (#{order.id}, #{passenger.firstName},
        #{passenger.lastName}, #{passenger.passport})
    </insert>

    <update id="updatePlaceWithPassenger">
        UPDATE place SET id_passenger = #{passenger.id} WHERE id_assigned_trip = #{assignedTrip.id}
        AND place_number = #{placeNumber} AND id_passenger IS NULL
    </update>

    <delete id="deleteOrder">
        DELETE FROM `order` WHERE id = #{order.id}
    </delete>

    <delete id="cancelPassengerPlace">
        UPDATE place SET id_passenger = NULL WHERE id_assigned_trip = #{assignedTrip.id} AND id_passenger = #{passenger.id}
    </delete>

</mapper>